.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.banner {
  background-size: cover;
  background-position: bottom;
  padding: 125px 0 0 0;
  margin-top: -78px;
  height: 100vh;
  width: 100vw;
  h1 {
  margin-top: 100px;
  color: #575757;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  font-size: 44px;
  font-weight: bold;
  }
  h3 {
  opacity: 0;
  animation: fadein 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  font-size: 20px;
  color: #4a4a4a;
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);
  }
}

.toilet-button {
  opacity: 0;
  animation: fadein 1.5s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#pop {
  opacity: 0;
  animation: fadein 2s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

#n {
  opacity: 0;
  animation: fadein 2s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#drop{
  opacity: 0;
  animation: fadein 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

@keyframes fadein {
  100% { opacity: 1 }
}
