.banner-poopspace {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 44px;
  padding: 30px 30px;
  font-weight: bold;
  h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 44px;
  font-weight: bold;
  }
  h2 {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }
}

.poopspace-container {
  padding: 20px;
  h1 {
    margin: 0 0 0 10px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: white;
    font-size: 36px;
  }
}

header {
  width:900px;
  float:left;
  height: 50px;
}

// .poopspace-master {
//   width: 1000px;
// }

.profile-container-super {
  // width: 40vw;
}

.listings {
  width: 800px;
  font-weight: bold;
}

.listings-cards-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.listings-box {
  width:300px;
  float: left;
  height: 150px;
  margin: 50px;
  p {
  color: #ffffff;
  padding-left: 80px;
  padding-top: 50px;
  }
}




