<div class='booking-container'>
  <!-- contains booking-card and booking-map -->
  <div class='booking-card'>
    <h2>@booking.toilet.address</h2>
    <h1 class='border-bottom'>@booking.toilet.name</h1>
    <div class='check-in-out border-bottom'>
      <div class='check-in'>
        <h3>Check-In</h3>
        <p><%= @booking.check_in %></p>
      </div>
      <div class='check-out'>
        <h3>Check-out</h3>
        <p><%= @booking.check_out %></p>
      </div>
    </div>
    <div class='host-info border-bottom'>
      <div class='toilet-info'>
        <h3><%= @booking.toilet.name %></h3>
        <p>Hosted by @booking.toilet.user_id</p>
      </div>
      <h3>avatar</h3>
    </div>
    <div class='toilet-address border-bottom'>
      <h3>Address</h3>
      <p>@booking.toilet.address</p>
    </div>
    <div class='booking-cost border-bottom'>
      <h3>Total cost</h3>
      <p>$1,000,000</p>
    </div>
  </div>
  <div class='booking-map'>
  </div>
</div>
