<div class="profile-container">
  <div class='profile-card'>
    <p>avatar image</p>
    <p>number of reviews</p>
  </div>

  <div class='profile-description-card'>
    <div>
      <p>User description</p>
      <p>User join date</p>
      <p>User location</p>
    </div>
    <div>
      users listings
    </div>
  </div>
</div>
