<div class="profile-container">
  <div class='profile-card'>
    <div class='profile-picture border-bottom'>
      <%= image_tag 'tony.jpg', class:'avatar-huge' %>
    </div>
    <div class='border-bottom card-padding'>
      <p>
        number of reviews
      </p>
    </div>
  </div>

  <div class='profile-description-card'>
    <div class='border-bottom'>
      <p>User description</p>
      <p>User join date</p>
      <p>User location</p>
    </div>
    <div>
      users listings
    </div>
  </div>
</div>
