<div class='booking-card-sm'>
  <img src="http://luxurylaunches.com/wp-content/uploads/2016/09/18-carat-gold-toilet-Guggenheim-Museum-1170x658.jpg">
  <h2>Golden Toilet</h2>
  <div class='booking-card-sm-details'>
    <p>Bali</p>
    <p>2:43pm</p>
  </div>
</div>
