<div class="banner" style="background-image:url(https://www.besttoiletguide.net/file/2015/12/Best-Toilet.jpg);">
  <div>
    <h1>Pop N' Drop connects you to the world's best toilets!</h1>
    <h2>Change your life and relax on the throne</p>
    <%= link_to "See all toilets", toilets_path %>
  </div>
  <%= render 'shared/search_form' %>
</div>

<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

<%= render 'shared/footer' %>
</div>
