<div class="banner" style="background-image:url(https://image.redbull.com/rbcom/010/2015-05-07/1331721593940_2/0010/1/2050/1367/1/a-remote-outhouse-in-the-cascade-mountains-in-washington-state-usa.jpg);">
  <div>
    <h1>Pop N' Drop connects you to the world's best toilets!</h1>
    <h2>Change your life and relax on the throne</p>
    <%= link_to "See all toilets", toilets_path %>
  </div>
  <%= render 'shared/search_form' %>
</div>

<%= render 'shared/footer' %>
</div>
