.booking-card-sm {
  width: 400px;
  height: 350px;
  border-radius: 5px;
  border: 1px solid lightgray;
  margin: 30px;
  box-shadow: 5px 10px 18px #888888;
  img {
    width: 400px;
    height: 250px;
  }
  h2 {
    font-size: 24px;
    margin: 0;
    padding: 7px 7px;
  }
  p {
    margin:0;
    padding: 0;
  }
}

.booking-card-sm-details {
  margin: 0;
  padding: 0px 7px 7px 7px;
}
