.footer {
  width: 100vw;
  height: 75px;
  margin-top: -75px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  text-align: center;
  padding-top: 7px;
}

.footer-copyright {
  align-text: center;
}

.footer-links a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
  color: white;
}

.footer .fa-heart {
  color: #D23333;
}

