.mapboxgl-popup {
  width: 300px;
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
  padding: 0px!important;
}

.mapboxgl-popup-content {
  padding: 0px!important;
}

.mapboxgl-popup > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.mapboxgl-popup h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.mapboxgl-popup p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.mapboxgl-popup .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.mapboxgl-popup .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.mapboxgl-popup .card-rating {
  position: absolute;
  right: 16px;
  top: -140px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.mapboxgl-popup .card-pricing {
  position: absolute;
  left: 16px;
  top: -140px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
