#search-form-container {
  width: auto;
  display: flex;
  justify-content:start;
  padding: 0px 80px;
  margin-top: 80px;
}

#search-form {
  width: 450px;
  height: 480px;
  padding: 32px 32px 24px 32px;
  background-color: white;
  border-radius: 5px;
}
