.card-col {
  width: 300px;
  margin: 10px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.card-col > img {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.card-col h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-col p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-col .card-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-col .card-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-col .card-rating {
  position: absolute;
  right: 16px;
  top: -185px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.card-col .card-pricing {
  position: absolute;
  left: 16px;
  top: -185px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
